*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.justify-inter-word {
  text-align: justify !important;
  text-justify: inter-word !important;
}
/* Highlighted dates in yellow */
.highlight-yellow {
  background-color: greenyellow;
  color: black;
}

/* Enabled dates */
.enabled-date {
  background-color: #e0f7fa;
}

/* Disabled dates */
.disabled-date {
  background-color: #f0f0f0;
  color: #ccc;
  pointer-events: none; /* Prevent clicking */
}


.straight-dotted-line {
  border-top: 4px dotted transparent; /* Transparent border to preserve space */
  background: linear-gradient(to right, #d1d5db 50%, transparent 50%) repeat-x; /* Adjust color and spacing */
  height: 4px; /* Match thickness */
}
