* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.justify-inter-word {
  text-align: justify !important;
  text-justify: inter-word !important;
}

/* Highlighted dates in yellow */
.highlight-yellow {
  background-color: greenyellow;
  color: black;
}

/* Enabled dates */
.enabled-date {
  background-color: #e0f7fa;
}

/* Disabled dates */
.disabled-date {
  background-color: #f0f0f0;
  color: #ccc;
  pointer-events: none;
  /* Prevent clicking */
}


.straight-dotted-line {
  border-top: 4px dotted transparent;
  /* Transparent border to preserve space */
  background: linear-gradient(to right, #d1d5db 50%, transparent 50%) repeat-x;
  /* Adjust color and spacing */
  height: 4px;
  /* Match thickness */
}

html {
  scroll-behavior: smooth;
}

:where(.css-1hpnbz2).ant-collapse .ant-collapse-content {
  color: rgba(0, 0, 0, 0.88);
  background-color: none !important;
  border-top: 1px solid #d9d9d9;
}

:where(.css-1hpnbz2).ant-collapse>.ant-collapse-item>.ant-collapse-header {
  position: relative !important;
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: flex-start !important;
  padding: 12px 16px !important;
  color: rgba(0, 0, 0, 0.88) !important;
  line-height: 1.6 !important;
  font-size: 1.2rem !important;
  cursor: pointer !important;
  transition: all 0.3s, visibility 0s !important;
}

:where(.css-1hpnbz2).ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-expand-icon {
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  padding-inline-end: 12px !important;
}

:where(.css-1hpnbz2).ant-collapse .ant-collapse-content {
  color: #185fab!important;
  background-color: transparent !important;
  border-top: 1px solid #d9d9d9!important;
}