@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LightFont';
  src: url('./assets/fonts/Cano.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'LightFont', sans-serif !important;
}

:root {
  --yellow: #f4e33b;
  --secondary-yellow: #f8da5a !important;
  --dark-yellow: #f7b03b !important;
  --primary: #185fab !important;
  --light-blue: #3b7dba !important;
  --dark-blue: #175fab !important;
}

.justify-inter-word {
  text-align: justify !important;
  text-justify: inter-word !important;
}

/* Highlighted dates in yellow */
.highlight-yellow {
  background-color: yellow;
  color: black;
}

/* Enabled dates */
.enabled-date {
  background-color: #e0f7fa;
}

/* Disabled dates */
/* .disabled-date {
  background-color: #f0f0f0;
  color: #ccc;
  pointer-events: none; }
  */
@keyframes moveUp {
  0% {
    background-position: center top;
    /* Move to the top */
  }

  100% {
    background-position: center bottom;
    /* Start from the bottom */
  }
}

.background-moving {
  animation: moveUp 15s linear infinite;
  /* Infinite animation */
  background-repeat: repeat-y;
  /* Allow vertical repetition */
  background-size: cover;
  /* Ensure the background covers the div */
  position: absolute;
  /* Position it correctly */
  top: 0;
  /* Start at the top */
  left: 0;
  /* Start at the left */
  right: 0;
  /* Extend to the right */
  bottom: 0;
  /* Extend to the bottom */
  z-index: -1;
  /* Keep it behind other elements */
}

.page {
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}

.rbc-calendar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 4px !important;
  height: 400px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.rbc-event.rbc-selected {
  background-color: #17f285 !important;
}
.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 10px !important;
}

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  flex-basis: 0px;
  overflow: visible !important;
  height: 100%;
}
